/* @font-face {
  font-family: "iconfont"; 
  src: url('iconfont.ttf?t=1670489571415') format('truetype');
}
 */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiangtianchong:before {
  content: "\e67e";
}

.icon-fenxiang:before {
  content: "\e602";
}

.icon-fenxiang1:before {
  content: "\e739";
}

.icon-fenxiang2:before {
  content: "\e6a5";
}

.icon-fenxianglianjie:before {
  content: "\e635";
}

.icon-fenxiang3:before {
  content: "\e624";
}

.icon-fenxiang4:before {
  content: "\e6d5";
}

.icon-youhuiquan-:before {
  content: "\e603";
}

.icon-fenxiang5:before {
  content: "\e605";
}

.icon-icon--share:before {
  content: "\e60f";
}

.icon-fenxiang6:before {
  content: "\e628";
}

.icon-fenxiang7:before {
  content: "\e604";
}

.icon-arrow-:before {
  content: "\e626";
}

.icon-fenxiangyouli:before {
  content: "\e606";
}

.icon-fenxiang8:before {
  content: "\e607";
}

.icon-fenxiang9:before {
  content: "\e60d";
}

.icon-yaoqingfenxiang-my:before {
  content: "\e783";
}

.icon-fenxiang10:before {
  content: "\e601";
}

.icon-fenxiang11:before {
  content: "\e687";
}

.icon-fenxiang12:before {
  content: "\e60c";
}

